@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    line-height: 1.25;
}

h1, h2 {
    font-size: 48px;
}

p {
    line-height: 1.5;
    font-size: 18px;
    /* padding: 16px; */
    /* text-align: center; */
}

a {
    color: #242424;
    text-decoration: none;
}

li {
    list-style: none;
}

.text--purple {
    color: #6316FC;
}

.btn--big {
    background-color: #6316FC;
    color: white;
    padding: 24px 24px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.btn--small {
    background-color: #6316FC;
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

i {
    border: 2px solid #EEF2F6;
    border-radius: 50px;
    padding: 20px;
    color: #6316FC;
    font-size: 24px;
}

/* 

NAV BAR

*/

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    padding: 0 26px;
    font-weight: 600;
    font-size: 14px;
}

/* .nav__link--wrapper {
    display: flex;
    padding: 0 0;
} */

.nav__link--login {
    padding-right: 26px;
    padding-left: 5rem;
    font-weight: 600;
    font-size: 14px;
}

.logo--wrapper {
    display: flex;
    flex-direction: column;

}

.logo__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 24px;
}

.logo {
    margin-right: 8px;
    width: 40px;
}

.nav__link--primary {
    background-color: #6316FC;
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

/* 

HEADER

*/

header {
    height: calc(100vh - 100px);
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.header__description {
    width: 40%;
}

.header__title {
    margin-bottom: 24px;
}

.header__para {
    margin-bottom: 24px;
    color: #243D63;
}

.header__img--wrapper {
    width: 60%;
    max-width: 768px;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__customers--img {
    filter: grayscale(1) invert(1);
    width:400px
}

.header__email--signup {
    margin-bottom: 24px;
}

.header__form--input {
    border-color: #A0AEBF;
    color: #A0AEBF;
    padding: 24px;
    border-radius: 40px;
    width: 60%;
    margin-bottom: 56px;
    font-weight: 700;
}

.header__form--input:hover {
    border-color: #6316FC;
    transition: all 500ms ease;
}

.header__customers--para {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #A0AEBF;
}

/* 

FEATURES

*/

.row__features {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.features__span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 40px 0 25px 0;
}

.features__section--title {
    text-align: center;
    margin-bottom: 30px;
    color: #243D63;
    letter-spacing: 1.2px;
    font-weight: 900;
}

.features__section--para {
    text-align: center;
    margin-bottom: 32px;
    line-height: 1.5;
    color: #7C8BA1;
    padding: 0px 150px 20px 150px;
    width: 100%;
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.feature__box--content {
    display: flex;
    width: calc(100% / 3);
    padding: 24px;
}

.feature__img {
    padding: 8px;
}

.feature__desc {
    display: flex;
    flex-direction: column;
}

.feature__sub-title {
    font-size: 24px;
    font-weight: 700;
    color: #243D63;
    margin-top: 8px;
}

.feature__para {
    margin-top: 16px;
    color: #7C8BA1;
    font-weight: 500;
    font-size: 16px;
}

/* 

QUALITY

*/

.quality__container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.quality__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quality__description {
    width: 50%;
    padding-right: 50px;
}

.quality__sub-title {
    font-size: 48px;
    font-weight: 700;
    color: #243D63;
    margin-top: 8px;
    font-weight: 900;
}

.quality__para {
    margin-top: 16px;
    color: #7C8BA1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 24px;
}

.quality__span {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 40px 0 25px 0;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
    max-width: 700px;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
}

/* 

STEPS

*/

.steps__row {
    display: flex;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
    max-width: 700px;
}

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps__step {
    display: flex;
    flex-direction: row;
}

.steps__step--number {
    display: flex;
}

.steps__step--number {
    display: flex;
    flex-direction: row;
}