@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    line-height: 1.25;
}

h1, h2 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
}

p {
    line-height: 1.5;
    font-size: 18px;
    /* padding: 16px; */
    /* text-align: center; */
}

a {
    color: #242424;
    text-decoration: none;
}

li {
    list-style: none;
}

.text--purple {
    color: #6316FC;
}

.btn--big {
    background-color: #6316FC;
    color: white;
    padding: 24px 42px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.btn--small {
    background-color: #6316FC;
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.container {
    padding: 80px 0;
    margin: 0 50px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* 

NAV BAR

*/

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 93%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    padding: 0 26px;
    font-weight: 600;
    font-size: 14px;
}

/* .nav__link--wrapper {
    display: flex;
    padding: 0 0;
} */

.nav__link--login {
    padding-right: 26px;
    padding-left: 5rem;
    font-weight: 600;
    font-size: 14px;
}

.logo--wrapper {
    display: flex;
    flex-direction: column;

}

.logo__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 24px;
}

.logo {
    margin-right: 8px;
    width: 40px;
}

.nav__link--primary {
    background-color: #6316FC;
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

/* MOBILE MENU */

.btn__menu {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #1A202C;
    display: none;
    position: absolute;
    right: 30px;
    top: 40px;
}

.btn__menu:hover {
    color: #6415FF;
    transition: all 500ms ease;
}

.menu__backdrop {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* HIDE WITH ANIMATION */
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    height: 50%;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    position: fixed;
} 

.menu--open .menu__backdrop {
    /* SHOW W/ ANIMATION */
    visibility: visible;
    opacity: 1;
    display: inline-block;
    animation: slide-in-right 500ms ease;
}

@keyframes slide-in-right {
    0% {
      transform: translateX(150%);
      opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
      }
}

/* @keyframes slide-in-right {
    0% {
      transform: translateX(150%);
      opacity: 0;
    }

    50% {
        transform: translateX(0%);
        opacity: 0;
      }

    100% {
      transform: translateX(-150%);
      opacity: 1;
    }
} */

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 18px;
    font-weight: 600;
    color: #1A202C;
}

.btn__menu--close {
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 8px;
    color: #6415ff;
}

/* 

HEADER

*/

header {
    height: calc(100vh - 100px);
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.header__description {
    width: 40%;
}

.header__title {
    margin-bottom: 24px;
}

.header__para {
    margin-bottom: 24px;
    color: #243D63;
}

.header__img--wrapper {
    width: 60%;
    max-width: 768px;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__customers--img {
    filter: grayscale(1) invert(1);
    width:400px
}

.header__email--signup {
    margin-bottom: 24px;
}

.header__form--input {
    border-color: #A0AEBF;
    color: #A0AEBF;
    padding: 24px;
    border-radius: 40px;
    width: 60%;
    margin-bottom: 56px;
    font-weight: 700;
}

.header__form--input:hover {
    border-color: #6316FC;
    transition: all 500ms ease;
}

.header__customers--para {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #A0AEBF;
}

/* 

FEATURES

*/

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.row__features {
    width: 100%;
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 40px 0 25px 0;
}

.features__section--title {
    text-align: center;
    margin-bottom: 30px;
    color: #243D63;
    letter-spacing: 1.2px;
    font-weight: 900;
}

.features__section--para {
    text-align: center;
    margin-bottom: 32px;
    line-height: 1.5;
    color: #7C8BA1;
    width: 530px;
    max-width: 530px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.feature__box--content {
    display: flex;
    width: calc(100% / 3);
    padding: 24px;
}

.feature__img {
    padding: 8px;
}

.icon--purple {
    border: 2px solid #EEF2F6;
    border-radius: 50px;
    padding: 20px;
    color: #6316FC;
    font-size: 24px;
}

.feature__desc {
    display: flex;
    flex-direction: column;
}

.feature__sub-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #243D63;
    margin-top: 8px;
}

.feature__para {
    margin-top: 18px;
    color: #7C8BA1;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-right: 66px;
}

/* 

QUALITY

*/

.quality__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.quality__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quality__description {
    width: 50%;
    padding-right: 50px;
}

.quality__sub-title {
    font-size: 48px;
    font-weight: 700;
    color: #243D63;
    margin-top: 8px;
    font-weight: 900;
}

.quality__para {
    margin-top: 18px;
    color: #7C8BA1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 24px;
}

.quality__span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 40px 0 25px 0;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
    max-width: 700px;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
}

/* 

STEPS

*/

.steps__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.steps__row {
    display: flex;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps__img {
    width: 100%;
    max-width: 700px;
}

.steps__span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.steps__sub-title {
    font-size: 48px;
    font-weight: 700;
    color: #243D63;
    margin: 10px 0 30px 0;
    font-weight: 900;
}

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    margin-left: 64px;
}

.steps__step {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-bottom: 32px;
}

.steps__step--sub-title {
    color: #243D63;
    font-size: 20px;
    font-weight: 600;
}

.steps__steps--list {
    padding-right: 120px;
}

.steps__step--description {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 12px;
}

.steps__step--number {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    padding-right: 25px;
    color: #CBD5E0;
    font-weight: 600;
}

/* 

VALUES

*/

.values__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.values__row {
    display: flex;
}

.values__description {
    width: 50%;
}

.values__span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.values__sub-title {
    color: #243D63;
}

.values__para {
    margin-top: 18px;
    color: #7C8BA1;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    margin-bottom: 24px;
    margin-right: 50px;
}

.values__sub-desc--wrapper {
    display: flex;
}

.values__sub-desc--title {
    font-size: 20px;
    font-weight: 700;
}

.values__sub-desc--par {
    padding-right: 40px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #7c8ba1;
}

.values__btn--wrapper {
    margin-top: 40px;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
    max-width: 700px;
}

/* 

PRICING

*/

.pricing__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.price-plans__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-plans__span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-bottom: 16px;
}

.price-plans__section--title {
    color: #243D63;
}

.price-plans__section--para-wrapper {
    display: flex;
}

.price-plans__section--para {
    text-align: center;
    margin-top: 18px;
    color: #7C8BA1;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    margin-bottom: 24px;
    width: 615px;
    max-width: 615px;
}

.price-plan__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.price-plan__price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E2E8F0;
    border-radius: 8px;
    margin: 20px;
    position: relative;
    padding: 70px 0;
    width: 400px;
    max-width: 363px;
}

.sides--personal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px; /* Adjust the height of the line */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(90deg, rgba(63,182,176,1) 0%, rgba(63,182,176,1) 43%, rgba(120,223,211,1) 100%);
}

.sides--enterprise::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px; /* Adjust the height of the line */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgb(246,112,112);background: linear-gradient(90deg, rgba(246,112,112,1) 0%, rgba(249,136,136,1) 51%, rgba(252,166,166,1) 100%);
}

.price-plan__business-box {
    background: rgb(99,22,252);
    background: linear-gradient(130deg, rgba(99,22,252,1) 0%, rgba(94,112,221,1) 29%, rgba(77,82,192,1) 100%);
}

.price-plan__price--type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4cqi;
}

.price-plan__type {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.price-plan__price {
    font-size:48px;
    font-weight: 700;
    margin: 4px;
}

.price-plan__recurrence {
    font-size: 16px;
    font-weight: 700;
    color: #A0AEBF;
}

.text--white {
    color: white;
}

.price-plan__price--features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.price-plan__feature--title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.price-plan__feature--desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #7c8ba1;
}

.price-plan__feature--desc-white {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #7c8ba1;
    color: white;
}

.price-plan__btn--color-personal {
    background: rgb(63,182,176);
    background: linear-gradient(90deg, rgba(63,182,176,1) 0%, rgba(63,182,176,1) 43%, rgba(120,223,211,1) 100%);
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}

.price-plan__btn--color-business {
    background-color: #ffffff;
    color: #6316FC;
    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}

.price-plan__btn--color-enterprise {
    background: rgb(246,112,112);
    background: linear-gradient(90deg, rgba(246,112,112,1) 0%, rgba(249,136,136,1) 51%, rgba(252,166,166,1) 100%);
    color: white;
    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}

/* 

TESTIMONIALS

*/

.testimonials__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.testimonials__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonials__img--wrapper {
    width: 50%;
}

.testimonials__img {
    width: 100%;
    max-width: 700px;
}

.testimonials__description {
    width: 50%;
    padding-left: 50px;
}

.testimonials__span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.testimonials__sub-title {
    color: #243D63;
    margin: 30px 0;
}

.testimonials__para {
    margin-top: 16px;
    color: #7C8BA1;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    margin-bottom: 24px;
}

.testimonial__user--rating {
    color: #fabf2a;
    margin-bottom: 8px;
}

.testimonial__user--sub-title {
    font-size: 20px;
    font-weight: 700;
    color: #243D63;
    margin: 30px 0;
}

.testimonial__user--desc {
    font-size: 16px;
    font-weight: 500;
    color: #4a5568;
    margin: 30px 0;
    line-height: 1.625;
}

.testimonial__user--wrapper {
    display: flex;
}

.testimonial__user--pic-name {
    display: flex;
}

.testimonial__user--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.testimonial__user--name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.testimonial__user--title {
    font-size: 16px;
    font-weight: 500;
    color: #7C8BA1;
}

.testimonial__user--pic {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.testimonial__user--arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.icon__solid {
    border-top: 36px solid #E2E8F0;
}

.fa-arrow-left,
.fa-arrow-right {
    font-size: 24px;
}

/* 

FAQs 

*/

.faqs__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.faqs__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs__span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.faqs__section--title {
    margin: 20px 0;
}

.faq__wrapper {
    width: 65%;
}

.faq__accordion {
    background-color: #E2E8F0;
    margin: 10px 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.faq__sub-title {
    font-size: 20px;
    font-weight: 600;
}

.faqs__section--para {
    text-align: center;
    margin-bottom: 50px;
    color: #7C8BA1;
    width: 600px;
    max-width: 600px;
}

/* 

CTA

*/

.cta__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.cta__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #6316FC;
    padding: 100px;
    margin: 0 auto;
    border-radius: 10px;
}

.cta__desc--wrapper {
    width: 50%;
}

.cta__title {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.cta__btn--wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn--started {
    background-color: #f56565;
    margin: 0 10px;
}

.btn--contact {
    border: 1px solid white;
    margin: 0 10px;
}

/* 

FOOTER

*/

footer {
    background: #6316FC;
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1280px;
    height: 100%;
    margin: 0 50px;
}

.footer__row {
    display: flex;
    flex-direction: column;
}

.footer__link--wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__link--main,
.footer__link--product,
.footer__link--press,
.footer__link--team,
.footer__link--legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__title--main,
.footer__title--product,
.footer__title--press,
.footer__title--team,
.footer__title--legal {
    color: white;
    margin-bottom: 24px;
}

.footer__main--link,
.footer__product--link,
.footer__press--link,
.footer__team--link,
.footer__legal--link {
    color: white;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500
}

.footer__social--wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer__copyright, 
.footer__year {
    color: #cbd5e0;
    font-size: 16px;
    font-weight: 500;
}

.footer__logo {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
}

.footer__divider {
    border-color: #742cff;
    margin: 64px 0;
}

.footer__logo--img {
 width: 32px;  
 margin-right: 8px; 
}

/* MEDIA QUERIES */

/* LRG DESKTOPS */
@media (max-width: 1279px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    .header__title {
        font-weight: 700;
    }

    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .header__img {
        width: 100%;
        max-width: 520px;
    }
}

@media (max-width: 1207px) {
    .header__email--signup {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header__form--input {
        margin-bottom: 20px;
    }

    .price-plan__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    
}

/* DESKTOPS */
@media (max-width: 1023px) {
    h1 {
        font-size: 29px;
    }

    .btn__menu--close {
        color: #1A202C;
    }

    .menu__list {
        padding: 15px 0;
    }

    .container {
        padding: 96px 0;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 32rem;
        text-align: center;
        padding: 96px 0;
    }

    .header__description {
        width: 100%;
    }

    .header__img--wrapper {
        width: 100%;
    }

    .header__email--signup {
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .features__container {
        padding-top: 250px;
    }

    .feature__box--content {
        display: flex;
        width: calc(100% / 2);
        padding: 24px;
    }

    .nav__link,
    .nav__link--signup,
    .nav__link--login {
        display: none;
    }

    .nav__link--primary {
        color: white;
    }

    .btn__menu {
        display: block;
    }

    .values__sub-desc--wrapper {
        display: flex;
        flex-direction: column;
    }

    .values__sub-title {
        font-size: 36px;
    }

    .values__sub-desc {
        margin-top: 40px;
        margin-right: 122px;
    }

    .values__img--wrapper {
        display: flex;
    }

    .price-plan__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .testimonials__sub-title {
        font-size: 36px;
    }

    .testimonials__img--wrapper {
        width: 40%;
    }

    .testimonials__description {
        width: 60%;
    }

    .faq__wrapper {
        width: 97%;
    }

    .cta__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px;
        /* text-align: center; */
        align-content: center;
    }

    .cta__desc--wrapper {
        text-align: center;
        margin-bottom: 40px;
        width: 60%;
    }
}

/* SMART PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 639px) {
    .header__email--signup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__form--input {
        width: 90%;
    }

    .btn--big {
        width: 90%;
    }

    .features__section--title {
        font-size: 36px;
    }

    .features__section--para {
        font-size: 14px;
    }

    .feature__box--content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .feature__sub-title {
        text-align: center;
    }

    .feature__para {
        text-align: center;
        width: 100%;
    }

    .quality__row {
        display: flex;
        flex-direction: column-reverse;
    }

    .quality__description {
        width: 100%;
        text-align: center;
        padding-right: 0px;
        margin-top: 64px;
    }

    .quality__sub-title {
        font-size: 30px;
    }

    .quality__para {
        font-size: 14px;
    }

    .quality__img--wrapper {
        width: 100%;
    }

    .steps__row {
        display: flex;
        flex-direction: column;
    }

    .steps__img--wrapper {
        width: 100%;
    }
    
    .steps__description {
        width: 100%;
        margin-top: 64px;
        display: flex;
        align-items: center;
        margin-left: 0px;
        text-align: center;
    }

    .steps__sub-title {
        font-size: 30px;
    }

    .steps__steps--list {
        padding-right: 0px;
    }

    .steps__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .steps__step--number {
        padding-right: 0px;
    }

    .values__row {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .values__description {
        width: 100%;
        margin-top: 64px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .values__sub-title {
        font-size: 30px;
    }

    .values__para {
        font-size: 14px;
        margin-right: 0px;
    }

    .values__img--wrapper {
        width: 100%;
    }

    .values__sub-desc--wrapper {
        text-align: center;
        
    }

    .values__sub-desc {
        margin-top: 20px;
        margin-right: 0px;
    }

    .values__sub-desc--par {
        margin-right: 0px;
        padding-right: 0px;
        padding: 0 96px;
    }

    .price-plans__section--title {
        font-size: 36px;
        text-align: center;
    }

    .testimonials__row {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .testimonials__img--wrapper {
        width: 100%;
    }

    .testimonials__description {
        margin-top: 64px;
        width: 100%;
        padding-left: 0px;
    }

    .testimonial__user--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonial__user--pic-name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonial__user--info {
        display: flex;
        align-items: center;
        padding-left: 0px;
        margin-top: 8px;
    }

    .testimonial__user--arrows {
        margin-top: 32px;
    }

    .faqs__section--title {
        font-size: 36px;
    }

    .cta__desc--wrapper {
        width: 100%;
    }

    .cta__title {
        font-size: 24px;
    }

    .cta__btn--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn--big {
        margin-bottom: 20px;
        font-size: 14px;
        padding: 12px 24px;
    }

    .footer__link--main,
    .footer__link--product,
    .footer__link--press,
    .footer__link--team,
    .footer__link--legal {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .footer__social--wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        margin-bottom: 32px;
    }

    .footer__copyright {
        margin-bottom: 32px;
    }

    .footer__social-list {
        margin-bottom: 32px;
    }

}